[bumpversion]
current_version = 0.6.1
commit = False
tag = True
message = Bump up to version {new_version}.

[bdist_wheel]
python-tag = py3

[bumpversion:file:coxeter/__init__.py]

[bumpversion:file:doc/source/conf.py]

[bumpversion:file:pyproject.toml]
