*~
*.swp

# OS Specific
.DS_Store

# Packaging
*.egg
*.egg-info*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Optimization
__pycache__
*.pyc

# Unit tests
.coverage
.coverage.*
.hypothesis
.hypothesis/
.pytest_cache/

# Documentation
doc/source/bibtex.json

# Development tools
.ipynb_checkpoints
.spyderproject
.spyproject
*.sublime-workspace
.vscode
.code-workspace
