# Editor and OS files
*~
*.swp
.DS_Store

# Packaging and distribution
*.egg
*.egg-info*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Compiled files
__pycache__/
*.pyc

# Code coverage and testing
.coverage*
.hypothesis/
.pytest_cache/

# Documentation
doc/source/bibtex.json

# Development tooling
.ipynb_checkpoints/
.spyderproject
.spyproject
*.sublime-workspace
.vscode/
.code-workspace
