name: Build Project

on:
  pull_request:

  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build_wheels_and_sdist:
    name: Build wheels and sdist
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: '3.14'
    - name: Set up Python environment
      uses: glotzerlab/workflows/setup-uv@894d9678188a02b06560fdeb2b9ba98d016cd371 # 0.10.0
    - name: Build wheels and sdist
      run: uv build --sdist --wheel --out-dir dist/ .
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: wheel
        path: dist/*.whl
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: sdist
        path: dist/*.tar.gz

  Publish:
    name: Publish to PyPI
    needs: [build_wheels_and_sdist]
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Download artifact sdist
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: sdist
        path: dist
    - name: Download artifact wheel
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: wheel
        path: dist
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
