name: Build Project

on:
  pull_request:

  push:
    branches:
      - "main"
    tags:
      - "v*.*.*"

jobs:
  build_wheels_and_sdist:
    name: Build wheels and sdist
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
    - name: Set up Python environment
      uses: glotzerlab/workflows/setup-uv@2245be9e78600bf7846aaf9555da322446f46110 # 0.11.0
    - name: Build wheels and sdist
      run: uv build --sdist --wheel --out-dir dist/ .
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: wheel
        path: dist/*.whl
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: sdist
        path: dist/*.tar.gz

  Publish:
    name: Publish to PyPI
    needs: [build_wheels_and_sdist]
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Download artifact sdist
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: sdist
        path: dist
    - name: Download artifact wheel
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: wheel
        path: dist
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
